<!doctype html>
<title>Find Hotels!</title>
<html>
<body>

<form action="" method="POST" style="padding-bottom: 30px;">
  {{ form.hidden_tag() }} 
  {{form.city.label}}:<br>
  {{form.city}}
  <br>  
  {{form.checkin.label}}:<br>
  {{form.checkin}}
  <br>  
  {{form.checkout.label}}:<br>
  {{form.checkout}}  
  <br><br>
  <input type="submit" value="Submit">
</form> 
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div style="margin-bottom: 30;">
        {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}  
{% if num_results > 0 %}
  <table style="padding-top: 30;">
      <tr>
          <th>Hotel Id</th>
          <th>Hotel Name</th> 
          <th>Number of Reviews</th>
          <th>Address</th>
          <th>Number of Stars</th> 
          <th>Amenities</th> 
          <th>Image</th> 
          <th>Snaptravel Price</th> 
          <th>Hotels.com Price</th>                                                
      </tr>    
      {% for result in results %}
          <tr>
              <td>{{result.id}}</td>
              <td>{{result.hotel_name}}</td>
              <td>{{result.num_reviews}}</td>
              <td>{{result.address}}</td>
              <td>{{result.num_stars}}</td>
              <td>{{result.amenities}}</td>                                
              <td><img src={{result.image_url}} alt="" border=3 height=100 width=100></img></td>
              <td>{{result.snap_price}}</td>
              <td>{{result.retail_price}}</td>
          </tr>
      {% endfor %}
  </table>
{% endif %}  
</body>
</html>